<div class="join flex justify-center items-center">
  @for (page of getPageList(); track page) {
    <!--
      En esto [routerLink]="[]" el "[]" indica que navega a la ruta actual,
      sin eso no funcionan los queryparams
    -->
    <button
      class="join-item btn"
      [class.btn-primary]="page === activePage()"
      [class.mt-4]="marginY()"
      [class.mb-10]="marginY()"
      [routerLink]="[]"
      [queryParams]="{ page }"
      (click)="activePage.set(page)"
    >
      {{ page }}
    </button>
  }
</div>
